# CLion
cmake-build-debug/
.idea/

# VSCode
.vscode/
main.dSYM

#### VS2019
# project_name/
*.vcxproj
*.filters
*.user
*.vs/
*.DS_Store
# project_name/Debug/project_name.tlog/
*.tlog
*.lastbuildstate
*.txt
# project_name/Debug/
*.log
*.recipe
*.ilk
*.enc
*.obj
*.idb
*.pdb

